<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuarios</title>
</head>
<body>
    <h1>Bienvenido al Panel de Usuarios</h1>
    <p>Aquí puedes realizar acciones como usuario.</p>
    
    <form action="/cambiar_contrasena" method="POST">
        <label for="contrasena_actual">Contraseña actual:</label>
        <input type="password" id="contrasena_actual" name="contrasena_actual">
        <label for="nueva_contrasena">Nueva contraseña:</label>
        <input type="password" id="nueva_contrasena" name="nueva_contrasena">
        <input type="submit" value="Cambiar contraseña">
    </form>

    <form action="/cambiar_email" method="POST">
        <label for="nuevo_email">Nuevo correo electrónico:</label>
        <input type="email" id="nuevo_email" name="nuevo_email">
        <input type="submit" value="Cambiar correo electrónico">
    </form>

    <p>Tipo de usuario: {{ tipo_usuario }}</p>
    <p>Nombre de usuario: {{ nombre_usuario }}</p>

    {% if ultima_compra %}
    <h2>Última compra:</h2>
    <p>Fecha y hora: {{ ultima_compra.fecha_hora }}</p>
    <p>Precio total: {{ ultima_compra.precio_total }} Euros</p>
    <p>Productos:</p>
    <ul>
        {% for producto in ultima_compra.productos %}
        <li>{{ producto[1].nombre }} - Precio: {{ producto[1].precio }} Euros</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ mensaje }}</p>
    {% endif %}

    {% if alquileres_activos %}
    <h2>Alquileres activos:</h2>
    <ul>
        {% for alquiler in alquileres_activos %}
        <li>Fecha de alquiler: {{ alquiler.fecha_alquiler }} - Precio total: {{ alquiler.precio_total }} Euros</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if reservas_activas %}
    <h2>Reservas activas:</h2>
    <ul>
        {% for reserva in reservas_activas %}
        <li>Fecha de reserva: {{ reserva.fecha_reserva }} - Fecha de liberación: {{ reserva.fecha_liberacion }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <button onclick="cerrarSesion()">Cerrar sesión</button>

    <script>
        function cerrarSesion() {
            fetch('/logout')
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);  
                window.location.href = '/';  
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
