<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
</head>
<body>
    <h1>Bienvenido al Panel de Administrador</h1>
    <h2>CRUD de Ventas</h2>
    <form id="ventaForm">
        <label for="venta_id">ID Venta:</label><br>
        <input type="number" id="venta_id" name="venta_id"><br>
        <label for="usuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario"><br>
        <label for="productos">Productos:</label><br>
        <input type="text" id="productos" name="productos"><br>
        <label for="precio_total">Precio Total:</label><br>
        <input type="number" id="precio_total" name="precio_total" step="0.01"><br>
        <label for="fecha_hora">Fecha y Hora:</label><br>
        <input type="text" id="fecha_hora" name="fecha_hora"><br><br>
        <button type="button" onclick="agregarVenta()">Agregar Venta</button>
        <button type="button" onclick="listarVentas()">Listar Ventas</button>
        <button type="button" onclick="actualizarVenta()">Actualizar Venta</button>
        <button type="button" onclick="eliminarVenta()">Eliminar Venta</button>
        <button type="button" onclick="limpiarCamposVenta()">Limpiar Campos</button>
    </form>
    
    <div id="resultadoVentas"></div>

    <script>
        function limpiarCamposVenta() {
            document.getElementById('ventaForm').reset();
            document.getElementById('resultadoVentas').innerHTML = ''; 
        }
        
        function agregarVenta() {
            var formData = {
                venta_id: document.getElementById('venta_id').value,
                usuario: document.getElementById('usuario').value,
                productos: document.getElementById('productos').value,
                precio_total: document.getElementById('precio_total').value,
                fecha_hora: document.getElementById('fecha_hora').value
            };

            fetch('/venta', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);
                document.getElementById('ventaForm').reset();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function listarVentas() {
            fetch('/venta', { 
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('resultadoVentas').innerHTML = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }


        function actualizarVenta() {
            var formData = {
                venta_id: document.getElementById('venta_id').value,
                usuario: document.getElementById('usuario').value,
                productos: document.getElementById('productos').value,
                precio_total: document.getElementById('precio_total').value,
                fecha_hora: document.getElementById('fecha_hora').value
            };

            fetch('/venta' + formData.venta_id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);
                document.getElementById('ventaForm').reset();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function eliminarVenta() {
            var venta_id = document.getElementById('venta_id').value;

            fetch('/venta' + venta_id, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);
                document.getElementById('ventaForm').reset();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
